template(name="editSurvey")
  unless loggedIn
    +accessDeniedLogIn
  else
    .ui.container.segment
      h1.ui.header New Survey:
      form.ui.form
        .field
          label Title:
          input(type="text" placeholder="enter a flashy title" $b="value: title")
        .field
          label Question:
          input(type="text" placeholder="enter the question you want to ask" $b="value:question")
        .field
          .ui.checkbox
            input(type="checkbox" $b="check:allowAddAnswer")
            label Allow registered users to add their own answers
        .field
          .ui.checkbox
            input(type="checkbox" $b="check:allowUnauthorized")
            label Allow unregistered users to vote (check IP instead of UserId)
      .ui.grid(style="margin-top:1.5em")
        .row
          .left.floated.thirteen.wide.column
            h2.ui.header Answers:
          .column
            button.ui.right.floated.circular.icon.button($b="click:addQuestion")
              i.plus.icon
      .ui.segments
        +sortable(items=answers() options=sortableOptions)
          +answerEdit
      button.ui.button(style="margin-top:2em" $b="click:publish") Publish
    
template(name="answerEdit")
  .ui.clearing.attached.container.segment.draggable(data-id=_id)
    button.ui.basic.left.floated.icon.button.handle
      i.resize.vertical.icon
    button.ui.basic.right.floated.icon.button
      i.delete.icon($b="click:remove")
    .ui.fluid.input
      input(type="text" placeholder="enter an answer" $b="value:text, change:update")
