template(name="listSurveys")
  .ui.container.segment($b="class: {loading : loading}")
    .ui.grid
      .row
        .left.floated.thirteen.wide.column
          h1.ui.header Public Surveys:
        .column
          a($b="if:mayCreate" href="/edit-survey/new" title="create new survey")
            button.ui.circular.right.floated.icon.button
              i.plus.icon
    .ui.relaxed.cleared.divided.selection.list
      each surveys
        +survey

template(name="survey")
  .item($b="click:vote")
    button.ui.basic.circular.right.floated.icon.button($b="if:mayEdit, click:delete")
      i.remove.icon
    .content
      .header 
        h3.ui.header #{title}
      .description
        h4.ui.header #{question}
        p by <em>#{authorName}</em>
