template(name="info")
  .ui.container.segment
    h1.ui.dividing.header About Survey
    // TODO:0 Marketing BS
    +markdown
      This is a challenge for [freeCodeCamp](https://www.freecodecamp.com). 
      
      You can read the [assignment](https://www.freecodecamp.com/challenges/build-a-voting-app) and take a look  the [sources](https://github.com/JanMP/poll-app-fcc).
      
      If you find any problems with this app, please report them [here](https://github.com/JanMP/poll-app-fcc/issues).
