template(name="navbar")
  .ui.fixed.transparent.main.menu
    .header.item Survey
    a.item(class=isActiveRoute('info') href="/info")
      i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('home') href="/")
        i.large.list.icon
      if currentUser
        a.item(class=isActiveRoute('settings') href="/settings")
          i.large.settings.icon
      .item
        +loginButtons(allign="right")
      a.item(class=isActiveRoute('help') href="/help")
        i.large.help.icon
